<!DOCTYPE html>
<html>

<head>
    <title>Today's Forecast</title>
</head>

<body>
    <h1>Simple Forecast</h1>
    <form method="get" action="/forecastInfo">
        Location<input type="text" name="city" placeholder="Enter City or Zip"><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>