.span1 {
      font-size: 2em;
      font-family: Ariel; color: red;
}

.wrapper {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 250px 750px 250px;
      grid-template-rows: 200px 750px 50px;
      background-color: lightgray;
      color: White;
}
      
.box {
      background-color: #444;
      color: white;
      border-radius: 5px;
      padding: 5px 10px 10px;
      font-size: 100%;      
}
      
.a {

      grid-column: 1 / 4;
      grid-row: 1;
      background-color: #005fb3;
}

.b {
      grid-column: 1  ;
      grid-row: 2;
      background-color: slategray;
}

.c {
      grid-column: 2  ;
      grid-row: 2;
      background-color: #33a0ff;
      text-align: center;
}

.d {
      grid-column: 3;
      grid-row: 2;
      background-color: slategray;
}

.e {
      grid-column: 1 / 4;
      grin-row: 3;
      background-color: #005fb3;
      text-align: center;
}

h1 {

     width: 100;
     margin-left: auto;
     margin-right: auto;
}
box a.h1: hover {
      background-color: yellow;
}
